/*Sassy SCSS*/

$prime-font: 25pt;
$icon-font: 10pt;

body {
	background-color: #000;
	font-size: $prime-font;

	.title {
		width: 100%;
		background-color: #fff;
		text-align: center;

		ul > li {
			list-style: none;
			display: inline;
			font-size: $icon-font;
		}
	}

	.port {

		.port-head {
			background-color: #e0e0eb;

			h1 {
				text-align: center;
				margin: 0 auto;
			}

			i {
				font-size: $icon-font;
				float: right;
			}
		}

	}
}