/*Sassy SCSS */
/*Generic Styles */
h1, ul {
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #000; }
  a:visited {
    text-decoration: none;
    color: #000; }

/*Home page styles */
body {
  background-color: #000;
  min-height: 100%; }
  body .title {
    width: 100%;
    background-color: #fff;
    text-align: center; }
    body .title h1 {
      font-family: Rakkas, cursive;
      font-size: 62pt;
      color: #234567; }
    body .title h2 {
      font-size: 18px;
      margin: 0 auto 18px auto;
      font-family: Rakkas, cursive; }
    body .title ul li {
      list-style: none;
      display: inline-block;
      font-size: 23pt;
      color: #b22222; }
    body .title ul li:nth-child(2) {
      margin: 0 1em; }
    body .title ul a {
      text-decoration: none;
      color: inherit; }
      body .title ul a:visited {
        color: inherit; }
  body .port .port-head {
    background-color: #e0e0eb; }
    body .port .port-head div {
      text-align: center;
      display: flex;
      justify-content: center; }
      @media screen and (min-width: 780px) {
        body .port .port-head div {
          width: 100%; } }
      @media screen and (min-width: 780px) {
        body .port .port-head div {
          width: 100%; } }
      body .port .port-head div h1 {
        position: relative;
        right: -12%;
        font-family: Shrikhand, cursive;
        font-size: 29pt;
        color: #234567; }
        @media screen and (min-width: 780px) {
          body .port .port-head div h1 {
            right: 0; } }
    body .port .port-head .arrow-holder i {
      font-size: 29pt;
      line-height: 1em; }
    @media screen and (min-width: 780px) {
      body .port .port-head .arrow-holder {
        display: none; } }
  body .port .port-img-block {
    background-color: #fff; }
    body .port .port-img-block .img-hold {
      margin: 0.5em auto; }
      body .port .port-img-block .img-hold .port-img {
        border-radius: 3em;
        max-width: 100%;
        max-height: 100%; }
    body .port .port-img-block .photo-slider {
      width: 100%;
      height: 23em;
      display: flex;
      justify-content: center;
      border: 7px solid #e0e0eb;
      margin: 0.5em auto; }
      body .port .port-img-block .photo-slider .slide-image {
        object-fit: contain;
        width: 100%; }
      body .port .port-img-block .photo-slider .slide-nav {
        text-align: center;
        display: block;
        position: absolute;
        z-index: 1002;
        left: 0;
        bottom: -206px;
        right: 0;
        height: 13px; }
        body .port .port-img-block .photo-slider .slide-nav .dots-wrap {
          margin: 0 auto;
          width: 100%; }
          body .port .port-img-block .photo-slider .slide-nav .dots-wrap ul {
            margin: 0;
            width: 100%; }
            body .port .port-img-block .photo-slider .slide-nav .dots-wrap ul .dot {
              position: relative;
              margin: 0 8px;
              width: 12px;
              height: 12px;
              display: inline; }
              body .port .port-img-block .photo-slider .slide-nav .dots-wrap ul .dot a {
                position: absolute;
                width: 6px;
                height: 6px;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                background: #FFF;
                border: 1px solid transparent;
                outline: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                -webkit-transition: background-color 0.25s, border-color 0.25s;
                -moz-transition: background-color 0.25s, border-color 0.25s;
                transition: background-color 0.25s, border-color 0.25s; }
  body .blog .blog-head {
    background-color: #e0e0eb; }
    body .blog .blog-head div {
      text-align: center;
      display: flex;
      justify-content: center; }
      @media screen and (min-width: 780px) {
        body .blog .blog-head div {
          width: 100%; } }
      body .blog .blog-head div h1 {
        position: relative;
        right: -12%;
        font-family: Shrikhand, cursive;
        font-size: 29pt;
        color: #234567; }
        @media screen and (min-width: 780px) {
          body .blog .blog-head div h1 {
            right: 0; } }
    body .blog .blog-head .arrow-holder i {
      font-size: 29pt;
      line-height: 1em; }
    @media screen and (min-width: 780px) {
      body .blog .blog-head .arrow-holder {
        display: none; } }
  body .blog .blog-block {
    background-color: #fff;
    text-align: center;
    min-height: 4em; }
    body .blog .blog-block .blog-title {
      font-family: Rakkas, cursive; }
    body .blog .blog-block .blog-date {
      font-style: italic;
      margin: -7px auto 10px auto; }
    body .blog .blog-block .blog-entry {
      text-align: justify;
      text-indent: 2em;
      margin: 0 auto;
      padding: 0 34px; }
  body .foot {
    text-align: center;
    background-color: #e0e0eb; }
    body .foot li {
      list-style: none;
      font-size: 22px;
      display: inline;
      color: #b22222; }
      body .foot li:nth-child(2) {
        padding: 0 20px; }
    body .foot a {
      text-decoration: none;
      color: inherit; }
      body .foot a:visited {
        color: inherit; }
    body .foot p {
      padding: 0 0 10px 0;
      margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
